
   
   
    <div class="parallax" style="background-image: url(../../assets/img/omaha%20bank.jpg);width: 100%;height: 400px;max-height:400px;">
       <div class="parallax__layer"></div>
        <p class="parallax__p" style="font-size: 35px;font-weight: 600">FIRST NATIONAL BANK OF OMAHA.
        </p>
        <p class="parallax__p" style="margin-top: 20px;">
            Champions of the Community // Case Study
        </p>
    </div>
    
    
    
    
    <div class="topic">
        <p class="topic__p">
            <span>overview</span></p>
        <div class="topic__hline"></div>
        <p class="topic__p">
        First National Bank of Omaha, the largest privately held bank in America, reached out to us to help with their vision of highlighting high school football &amp; the significant role it plays in bringing First National Bank’s communities together.

In collaboration with First National Bank’s marketing department.</p>
    </div>
    
    
    
    
    
    <div class="films">
        <div class="films__banner"><p>recent work for  our partners</p></div>
        
        <div class="films__grid">
           
            <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
        <!--
          <div class="films__grid__slide__layer"></div>
          <div class="films__grid__slide__paragraphs">
           <p>chapions</p>   <p>community</p>   
           </div>
           <div class="films__grid__slide__location">
               <p>trailer</p>
           </div>
           -->
           
            </div>
            
            <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity3.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
             
           <div class="films__grid__slide">
            <img src="../../assets/img/championsCommunity4.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
            
             
              <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity2.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div> 
             
            
        </div>
        
    </div>
    
    
    
    
    
    
    <div class="topic" style='height: auto;'>
        <p class="topic__p">
            <span>THE RESULTS</span></p>
        <div class="topic__hline"></div>
        <p class="topic__p">
        In collaboration with First National Bank, our team developed and executed a distribution strategy with engagement as the primary goal. This series was strategically hosted on First National Bank’s and Athlete Nation’s social media channels, with the video with the most social media likes receiving a $10,000 reward for the schools in that community. Grand Island, Nebraska was the recipient of this reward.</p>
    </div>
    
    
    <div class="parallax" style="background-image: url(../../assets/img/lighter.jpg);width: 100%;height: 400px;max-height:500px;">
        <p class="parallax__p" style="font-size: 27px;font-weight: 400;top: 10%; color: black;">
        “WORKING WITH ATHLETE NATION TO DEVELOP AND EXECUTE OUR CHAMPIONS OF THE COMMUNITY EFFORT WAS <span>SEAMLESS</span> AND WE LOOK FORWARD TO <span>CONTINUING OUR PARTNERSHIP </span>TOGETHER.”
        </p>
        
    </div>
       