
   
    <div class="parallax" style="background-image: url(../../assets/img/who-we-are.jpg);width: 100%;height: 400px">
       <div class="parallax__layer"></div>
        <p class="parallax__p">Athlete Nation is a media production company capturing stories for athletes, brands, and athletic programs.
        </p>
    </div>
    
    
    
    
    <div class="topic">
        <p class="topic__p">
            <span>THE MISSION</span></p>
        <div class="topic__hline"></div>
        <p class="topic__p">
        Athlete Nation exists to share stories &amp; perspectives that <span>push culture forward</span>.</p>
    </div>
    
    
    
    
    
    
    <div class="parallax" style="background-image: url(../../assets/img/gretna-our-story-darkerx.jpg);width: 100%;height: 300px;">
       <div class="parallax__layer"></div>
        <p class="parallax__p2">OUR TEAM IS COMPRISED OF INCREDIBLY TALENTED INDIVIDUALS WHO PLAY A ROLE IN ALL ASPECTS OF THE PRODUCTION PROCESS.
        </p>
    </div>
    
    
    <div class="services" >
       <div class="services__grid"> 
         
          <div class="box">
      <div class="box__card">
           <div class="box__card__front">
              <img src="../../assets/img/production.png">
              <h2>PURPOSEFUL</h2>
           </div>
           <div class="box__card__back">
               <p>We believe our work matters — we find purpose in what we do.</p>
           </div>
       </div>
          </div>
         
           
             
        <div class="box">
      <div class="box__card">
           <div class="box__card__front">
              <img src="../../assets/img/shop.png">
              <h2>DISRUPTIVE</h2>
           </div>
           <div class="box__card__back">
               <p>We believe in thinking, acting, and being different. We don’t settle.</p>
           </div>
       </div>
          </div> 
          
                          
                                          
        <div class="box">
      <div class="box__card">
           <div class="box__card__front">
              <img src="../../assets/img/media.png">
              <h2>EMPATHETIC</h2>
           </div>
           <div class="box__card__back">
               <p>We believe that caring is a competitive advantage.</p>
           </div>
       </div>
          </div>                                                                           
       </div>
        
   </div>
    
      