
   
    <div class="parallax" style="background-image: url(../../assets/img/films.jpg);width: 100%;height: 400px;max-height:400px;">
        <p class="parallax__p" style="font-size: 35px;font-weight: 600">OUR WORK</p>
        <p class="parallax__p" style="margin-top: 20px;">
        Presenting A Collection Of Documentary-Style Films
        </p>
    </div>
    
    
    
    
    <div class="topic">
        <p class="topic__p">
            <span>CHAMPIONS OF THE COMMUNITY SERIES</span></p>
        <div class="topic__hline"></div>
        <p class="topic__p">
        
Presenting an original series produced for First National Bank of Omaha telling stories of how high school football unites Nebraska communities.</p>
    </div>
    
    
    
    
    
    <div class="films">
        <!--
        <div class="films__banner"><p>recent work for  our partners</p></div>
        -->
        <div class="films__grid">
           
            <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
        <!--
          <div class="films__grid__slide__layer"></div>
          <div class="films__grid__slide__paragraphs">
           <p>chapions</p>   <p>community</p>   
           </div>
           <div class="films__grid__slide__location">
               <p>trailer</p>
           </div>
           -->
           
            </div>
            
            <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity3.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
             
           <div class="films__grid__slide">
            <img src="../../assets/img/championsCommunity4.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
            
             
              <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity2.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div> 
             
            
        </div>
        
    </div>
    
    
    
    
    
    
    <div class="topic" style='height: auto;'>
        <p class="topic__p">
            <span style="font-weight: 900">FEATURE FILMS</span></p>
        <div class="topic__hline"></div>
        <p class="topic__p">
        Presenting a collection of original feature stories.</p>
    </div>
    
    
    <div class="films">
        <!--
        <div class="films__banner"><p>recent work for  our partners</p></div>
        -->
        <div class="films__grid">
           
            <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity5.jpg">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
            
            <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity6.jpg">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
             
           <div class="films__grid__slide">
            <img src="../../assets/img/championsCommunity7.jpg">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
            
             
              <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity8.jpg">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div> 
             
            
        </div>
       
    </div>
    
    
     