
    
        
    <div class="vid__3d" style="position: relative;overflow: hidden;">
    <div class="mainTitle" (mousemove)='getCoords($event)'>
        <p>capturing</p><p>stories</p>
    </div>
                
    <video autoplay muted loop width="100%" style="max-height: 100%;max-width: 100%;">
        <source src='../../assets/video/website-background.mp4'>
    </video>
        </div>    
    
    
    
    
    
    <div class="topic">
        <p class="topic__p">
            Athlete Nation is a media production company capturing stories for athletes, brands, and athletic programs.</p>
        <div class="topic__hline"></div>
        <p class="topic__p">
        We exist to produce videos and images for our partners that <span>elicit emotion</span> and <span>push culture</span> forward.</p>
    </div>
    
    
    
    <div class="recentWork">
        <div class="vidBtn"></div>
        <img src="../../assets/img/mobile-video-thumbnail.jpg">
    </div>
    
    <div class="recentWorkVideo">
        <video class='video-js' controls preload='auto' data-setup='{}' width='600' height='340' >
            <source src="../../assets/video/Highlight%20Reel%202018.mp4">
        </video>
        <div class="closeVid"><a>&chi;</a></div>
    </div>
    
    
    
    
    <div class="films">
        <div class="films__banner"><p>recent work for  our partners</p></div>
        
        <div class="films__grid">
           
            <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
       
            </div>
            
            <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity3.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
             
           <div class="films__grid__slide">
            <img src="../../assets/img/championsCommunity4.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div>
            
             
              <div class="films__grid__slide">
                <img src="../../assets/img/championsCommunity2.png">
       <div class="films__grid__slide__view">
           <a class='films__grid__slide__view__anchor'>
           view</a>
       </div>
            </div> 
             
            
        </div>
        
           <div class="films__banner2">
            <img src="../../assets/img/runza.png"> 
        </div>
        
    </div>
    
    <div class="parallax">
       <div class="parallax__layer"></div>
        <p class="parallax__p">EACH PROJECT IS A <span>CREATIVE COLLABORATION</span>. WE DIRECTLY TAILOR OUR MEDIA TO SERVE THE <span>NEEDS OF OUR PARTNERS</span>.</p>
    </div>
    
    
   
   <div class="services">
       <div class="services__grid"> 
         
         
          <div class="box">
      <div class="box__card">
           <div class="box__card__front">
              <img src="../../assets/img/production.png">
              <h2>PRODUCTION ON POINT</h2>
           </div>
           <div class="box__card__back">
               <p>We use the highest quality cinema cameras on the market such as the DJI Inspire 2 and the RED Raven.</p>
           </div>
       </div>
          </div>
         
           
             
        <div class="box">
      <div class="box__card">
           <div class="box__card__front">
              <img src="../../assets/img/shop.png">
              <h2>ONE-STOP SHOP</h2>
           </div>
           <div class="box__card__back">
               <p>We are a creative agency and production company, all-in-one. What does this mean? We’re a true partner.</p>
           </div>
       </div>
          </div> 
          
                          
                                          
        <div class="box">
      <div class="box__card">
           <div class="box__card__front">
              <img src="../../assets/img/media.png">
              <h2>MEDIA PLACEMENT</h2>
           </div>
           <div class="box__card__back">
               <p>We work with you to create and implement a content distribution strategy.</p>
           </div>
       </div>
          </div>                                                                           
       </div>
        
   </div>
   
   
   
    <div class="parallax" style="height: 400px;">
       <div class="parallax__layer"></div>
        <p class="parallax__p"> 
        <span style="font-size: 35px;text-transform: uppercase;">take the next step</span>
        </p>
        <a class="parallax__btn">partner with us</a>
    </div>
   
   
   
   
   
   
   
   